<!DOCTYPE html>
<html>
  <head>
    <title>{%= o.htmlWebpackPlugin.options.title %}</title>
     <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://www.dev.anoah.com/bloswx/cwh/cw-writer/external/easyui/themes/bloswx/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.dev.anoah.com/bloswx/cwh/cw-writer/external/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.dev.anoah.com/bloswx/cwh/cw-writer/themes/default/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
   <div class="warp" style="width:235px;"></div>
   <script src="js/jquery.min.js"></script>
  <!--  // <script src="js/lodash.js"></script> -->
  <script type="text/javascript" src="http://www.dev.anoah.com/bloswx/cwh/cw-writer/external/underscore.js"></script>
   <script src="js/jquery.easyui.min.js"></script>
  </body>

</html>
